D:\GitHub_rep\foton\prog_2
D:\GitHub_rep\foton\prog_3
D:\GitHub_rep\foton\prog_1
D:\GitHub_rep\foton\pro_3_v2
D:\GitHub_rep\foton\_0
D:\GitHub_rep\foton\prog_3_v3\prog_3_v3.sln
D:\GitHub_rep\foton\prog_3_v3\x64
D:\GitHub_rep\foton\prog_3_v3\prog_3_v3\x64
D:\GitHub_rep\foton\prog_3_v3\prog_3_v3\prog_3_v3.vcxproj
D:\GitHub_rep\foton\prog_3_v3\prog_3_v3\prog_3_v3.vcxproj.filters
D:\GitHub_rep\foton\prog_3_v3\prog_3_v3\prog_3_v3.vcxproj.user
D:\GitHub_rep\foton\prog_3_v3\.vs

